In [1]:
import pandas as pd

In [2]:
reviews = pd.read_csv('reviews_dedup.csv')

In [3]:
reviews.shape[0]

35949

In [4]:
reviews.head()

,id,user_rating,user_name,user_profile,user_review,user_reviewdate,user_staydate
0,9003,4.0,Michelle W,https://www.tripadvisor.ca/Profile/mmwilson83,nil,Jan. 2019,January 2019
1,9003,5.0,lisambrandt1,https://www.tripadvisor.ca/Profile/lisambrandt1,nil,May 2018,May 2018
2,9003,4.0,Placestobee,https://www.tripadvisor.ca/Profile/Placestobee,nil,Jan. 2019,January 2019
3,9003,5.0,Lori Y,https://www.tripadvisor.ca/Profile/loriy201,nil,Jan. 2019,January 2019
4,9003,4.0,medsalesguy,https://www.tripadvisor.ca/Profile/medsalesguy,nil,Nov. 2018,November 2018

In [5]:
reviews.id.nunique(), reviews.user_profile.nunique()

(677, 33240)

In [6]:
reviews.user_review.unique()

array([' nil'], dtype=object)

In [7]:
hotel_info = pd.read_csv('hotel_info.csv')

In [8]:
hotel_info.head()

,id,hotel_name,hotel_rating,hotel_experience,amenities,address,country,location,price
0,1,Niagara Falls Marriott Fallsview Hotel & Spa,4.0,Very good,"['Pool', 'Restaurant', 'Fitness Centre with Gy...",6740 Fallsview Blvd Niagara Falls Ontario,Canada,"(43.0784124, -79.0820118287735)",118.0
1,2,Fairmont Royal York,4.5,Excellent,"['Restaurant', 'Room service', 'Fitness Centre...",100 Front Street W Toronto Ontario,Canada,"(43.6459092, -79.3813636)",489.0
2,3,Blue Horizon Hotel,4.5,Excellent,"['Pool', 'Restaurant', 'Free High Speed Intern...",1225 Robson St Vancouver British Columbia,Canada,"(49.2870098, -123.1285348)",169.0
3,4,Fairmont Le Chateau Frontenac,4.5,Excellent,"['Restaurant', 'Fitness Centre with Gym / Work...",1 Rue des Carrieres Quebec City Quebec,Canada,"(46.81182845, -71.2055490276425)",212.0
4,5,Rimrock Resort Hotel,4.5,Excellent,"['Pool', 'Room service', 'Fitness Centre with ...",300 Mountain Avenue Alberta,Canada,"(51.1615167, -115.5706911)",189.0

In [9]:
hotel_info_dedup = pd.read_csv('hotel_info_dedup.csv')

In [10]:
hotel_info_dedup.head()

,id,hotel_name,hotel_rating,hotel_experience,amenities,address,country,locality,location,price
0,9001,Peterborough House B&B,NaN,NaN,[],633 Gilmour St,Canada,Kimberley British Columbia,"(44.3014954, -78.338309)",NaN
1,9002,Ramada Inn,NaN,NaN,"['Bar/Lounge', 'Non-smoking hotel', 'Wheelchai...",100 Charlotte St Peterborough Ontario,Canada,Kimberley British Columbia,"(44.3035966, -78.3185251)",NaN
2,9003,Hotel Le Floral,4.5,Excellent,"['Free High Speed Internet (WiFi)', 'Pool', 'F...",192 Sherbrooke Quebec,Canada,Kimberley British Columbia,"(45.403271, -71.889038)",115.0
3,9004,OTL Gouverneur Sherbrooke,5.0,Excellent,"['Pool', 'Room service', 'Free parking', 'Rest...",,Canada,Kimberley British Columbia,"('nil', 'nil')",NaN
4,9005,Delta Hotels by Marriott Sherbrooke Conference...,3.5,Very good,"['Restaurant', 'Free High Speed Internet (WiFi...",2685 King Ouest Sherbrooke Quebec,Canada,Kimberley British Columbia,"(45.3983347290799, -71.939346911956)",NaN

In [11]:
review_zip = pd.read_csv('reviews.csv')

In [12]:
review_zip.head()

,id,user_rating,user_name,user_profile,user_review,user_reviewdate,user_staydate
0,1,5.0,Billy Banda Gizmo Dorothy,https://www.tripadvisor.ca/Profile/Gizmo4ever,great view Great place to stay and you have th...,Mar. 22,June 2018
1,1,4.0,VisitorfromOntario9,https://www.tripadvisor.ca/Profile/Visitorfrom...,Nice Winter Break Our multi generational famil...,Mar. 19,January 2019
2,1,5.0,Odyssey624335,https://www.tripadvisor.ca/Profile/Odyssey624335,Perfect View of the Falls A room with a specta...,Mar. 19,March 2019
3,1,5.0,Melissa F,https://www.tripadvisor.ca/Profile/956melissaf,Great time!! Beautiful hotel. We would stay ag...,Mar. 19,March 2019
4,1,5.0,2kidswilltravel37,https://www.tripadvisor.ca/Profile/2kidswilltr...,"Peaceful, perfect unobstructed views Having an...",Mar. 15,March 2019

In [13]:
reviews.user_profile.nunique(), review_zip.user_profile.nunique()

(33240, 189654)

In [14]:
len(set(reviews.user_profile) & set(review_zip.user_profile))

18863

In [15]:
review_zip.id.nunique(), reviews.id.nunique()

(4466, 677)

In [16]:
len(set(reviews.id) & set(review_zip.id))

0

In [17]:
review_zip.id.agg({min, max}), reviews.id.agg({min, max})

(max    6125
 min       1
 Name: id, dtype: int64,
 max    9733
 min    9003
 Name: id, dtype: int64)

## Parse Users info

In [18]:
from selenium import webdriver
from bs4 import BeautifulSoup

In [19]:
BASE_URL = 'https://www.tripadvisor.ca'

In [20]:
driver = webdriver.Chrome()

In [21]:
def parse_user_meta(driver, usr_url):
    result = {'user_profile': usr_url}
    
    try:
        driver.get(usr_url)
    except:
        return result
    
    soup = BeautifulSoup(driver.page_source, "html.parser")
    
    table = soup.find('div', {'class': 'epSbQ Me Nb MD NC'})
    
    try:
        spans = table.find_all('span')
        result['location'] = spans[0].text
        result['join_date'] = spans[2].text.split('in ')[-1]
    except:
        result['location'] = None
        result['join_date'] = None
        
    return result

In [22]:
result = parse_user_meta(driver, 'https://www.tripadvisor.ca/Profile/Odyssey624335')

In [23]:
result

{'user_profile': 'https://www.tripadvisor.ca/Profile/Odyssey624335',
 'location': 'Philadelphia, Pennsylvania',
 'join_date': 'Feb. 2016'}

In [24]:
uniques_profiles = review_zip.user_profile.unique()

In [25]:
len(uniques_profiles)

189654

In [ ]:
uniques_profiles_travels_info_lst = list(map(lambda x: parse_user_meta(driver, x), uniques_profiles))

In [51]:
uniques_profiles_travels_info_lst[0]

{'user_profile': 'https://www.tripadvisor.ca/Profile/mmwilson83',
 'location': 'New Brunswick, Canada',
 'join_date': 'Nov. 2018'}

In [52]:
pd.DataFrame(uniques_profiles_travels_info_lst)

,user_profile,location,join_date
0,https://www.tripadvisor.ca/Profile/mmwilson83,"New Brunswick, Canada",Nov. 2018
1,https://www.tripadvisor.ca/Profile/lisambrandt1,None,None
2,https://www.tripadvisor.ca/Profile/Placestobee,"Ottawa, Canada",Jun. 2008
3,https://www.tripadvisor.ca/Profile/loriy201,None,None
4,https://www.tripadvisor.ca/Profile/medsalesguy,"Nokesville, Virginia",Dec. 2008
5,https://www.tripadvisor.ca/Profile/kpatters,"Victoria, Canada",Jul. 2010
6,https://www.tripadvisor.ca/Profile/gurstond,None,None
7,https://www.tripadvisor.ca/Profile/kidglove11,"Old Orchard Beach, Maine",Oct. 2018
8,https://www.tripadvisor.ca/Profile/86connieb86,"Dushore, Pennsylvania",Jun. 2013
9,https://www.tripadvisor.ca/Profile/odie05408,NaN,NaN